<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Scripts and styles here -->
</head>
<body class="container">

  <header>
    <h1>Bienvenidos al D3m0</h1>
    <h2>3zp3r0 73ng4n DuD4z </h2>
  </header>

  <section id="content"><%- content %></section>

  <footer>
    <p>&copy; Nobody</p>
  </footer>

  <!-- Include our bundled JS -->
  <script src="/js/bundle.js"></script>
</body>
</html>
